@font-face {
  font-family: "Outfit";
  src: url("./fonts/Outfit-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("./fonts/Outfit-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d5e1ef;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: "Outfit";
  font-weight: bold;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0;
  color: #1f314f;
}

p {
  font-family: "Outfit";
  font-weight: normal;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #68778d;
}

.container {
  width: 320px;
  height: 499px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 16px;
}

img {
  height: 288px;
  width: 288px;
  border-radius: 10px;
}
